[submodule "components/lv_examples/lv_demos"]
	path = components/lv_examples/lv_demos
	url = https://github.com/lvgl/lv_demos.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v8.0
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/nineisk/lvgl_esp32_drivers.git
